/*
Theme Name: wee-minimale
Description: Editor styles.
*/

body {
	font-family: Calibri, "Gill Sans", Optima, sans-serif;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: "Andale Mono", Consolas, Inconsolata, monospace;
}
