/*
Theme Name:        wee minimale
Theme URI:         https://gitlab.com/walterebert/wee-minimale
Author:            Walter Ebert
Author URI:        https://wee.press/
Version:           0.2.1
Requires at least: 6.6
Tested up to:      6.7
Requires PHP:      7.2
License:           GPL-2.0-or-later
License URI:       https://spdx.org/licenses/GPL-2.0-or-later.html
Text Domain:       wee-minimale
Tags:              accessibility-ready, full-site-editing, translation-ready
Description:       A bare minimum block theme. No features, no options, no promises.
*/

*, *::after, *::before {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: Calibri, "Gill Sans", Optima, sans-serif;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: "Andale Mono", Consolas, Inconsolata, monospace;
}

pre code {
	overflow-x: scroll;
}

button, input, select, textarea {
	font: inherit;
}

canvas, img, picture, svg, video {
	display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	overflow-wrap: break-word;
}
